.table {
  &__top {
    padding: 20px 24px;
  }

  &-spacer {
    color: $dark-grey;
    text-align: center;
    margin: 40px 0;
  }
}

.mat-row {
  &:hover {
    cursor: pointer;
    background: #eef1f3;
  }
}
