<mat-table [dataSource]="dataSource" matSort (matSortChange)="handleSortEvent($event)" class="table">
  <ng-container cdkColumnDef="name">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row.name }}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="surname">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Surname</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row.surname }}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="email">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Email</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row.email}}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="birth_date">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Date of birth</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row.birth_date | date:'mediumDate'}}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="updated_at">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Last updated</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row.updated_at | date:'short' }}</mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *cdkRowDef="let row; columns: displayedColumns;"
    (click)="handleRowClick(row)">
  </mat-row>

</mat-table>

<div class="table-spacer" *ngIf="!totalUsers">No users to show</div>

<mat-paginator
  *ngIf="totalUsers"
  [length]="totalUsers"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[3,5,10]"
  (page)="handlePageEvent($event)">
</mat-paginator>
