<mat-toolbar color="primary">
  <h2>Asferro</h2>
</mat-toolbar>

<div class="user-dashboard-container">
  <div class="table paper">
    <div class="table__top">
      <h2>Users</h2>
    </div>
    <div class="table__body">
      <app-user-table
        *ngIf="!loading; else spinner"
        (rowClicked)="handleUserClick($event)"
        (paginationOptionsChanged)="handlePa"
        [dataSource]="userDataSource"
        [totalUsers]="this.userChanges.getValue().length"
        [pageIndex]="userPaginationOptions.page"
        [pageSize]="userPaginationOptions.size">
      </app-user-table>

      <ng-template #spinner>
        <div class="spinner-container">
          <mat-spinner [diameter]="70" strokeWidth="4"></mat-spinner>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div class="fab-container">
  <button mat-fab color="primary" (click)="handleAddUserClick()">Add</button>
</div>
