.user-dashboard-container {
  margin: 80px auto;
  width: 1120px;
}

.fab-container {
  position: fixed;
  bottom: 32px;
  right: 32px;
}

.spinner-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
