<mat-toolbar color="primary">
  <h2>Asferro</h2>
</mat-toolbar>

<div class="user-dashboard-container">
  <div class="table paper">
    <div class="table__top">
      <h2>Users</h2>
    </div>
    <div class="table__body">
      <app-user-table
        [class.hidden]="loading"
        (rowClicked)="handleUserClick($event)"
        (sortOptionsChanged)="handleSort($event)"
        (paginationOptionsChanged)="handlePaginationOptionsChanged($event)"
        [dataSource]="userDataSource"
        [totalUsers]="totalUsers"
        [pageIndex]="userPaginationOptions.page"
        [pageSize]="userPaginationOptions.size">
      </app-user-table>

      <ng-container #spinner>
        <div class="spinner-container" [class.hidden]="!loading">
          <mat-spinner [diameter]="70" strokeWidth="4"></mat-spinner>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="fab-container">
  <button mat-fab color="primary" (click)="handleAddUserClick()">Add</button>
</div>
